# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

# VS code
.vscode

# self
java_src
java_classes
jar_test
*.so
*.jar
*.class
core
hs_err_pid*
core.*
javacore.*
jitdump.*
Snap.*
*_with_agent.sh
compile_commands.json

